version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      github-actions:
        patterns:
          - '*'

  - package-ecosystem: npm
    directory: /voice-app
    schedule:
      interval: weekly
    groups:
      npm-dependencies:
        patterns:
          - '*'

  - package-ecosystem: gradle
    directory: /hytale-plugin
    schedule:
      interval: weekly
    groups:
      gradle-dependencies:
        patterns:
          - '*'
